// @import "../../styles/variables.scss";
// @import "../../styles/responsive.scss";

.menu {
  background-color: #7bbcfe;
  color: black;
  height: 100vh;
  width: 15vw;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: black;
      text-transform: uppercase;

      // @include lg {
      //   display: none;
      // }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: #3c91e5;
      }

      .listItemTitle {
        // @include lg {
        //   display: none;
        // }
      }

      .accordionContainer {
      }
    }
    .listItem:nth-child(3) {
      display: flex;
      flex-direction: column;

      .top {
        display: flex;
        width: 100%;
      }
    }
  }
}
